// -----------------------------------------------------------------------------
// This file contains styles that are specific to the home page.
// -----------------------------------------------------------------------------

.game-board {
  display: flex;
  flex: 1;
  align-items: center;
  .cards-list {
    display: grid;
    gap: 1em;
    align-content: center;
    justify-content: center;
    width: 100%;
    max-width: 30em;
    max-height: 30em;
    height: 90vw;
    &.four-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr;
    }
    &.six-grid {
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    }
    .card {
      border-radius: 100%;
      height: 100%;
      width: 100%;
      background: $dark-navy;
      cursor: pointer;
      transition: all ease-in-out 0.3s;
      transform-style: preserve-3d;
      position: relative;
      border: none;
      &:hover {
        background-color: $mid-blue;
      }
      .card-face {
        backface-visibility: hidden;
        position: absolute;
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        color: $white;
        &.back {
          transform: rotateY(180deg);
        }
        &.large {
          svg {
            height: 55px;
            width: 55px;
          }
          p {
            font-size: 4rem;
          }
        }
        &.small {
          svg {
            height: 35px;
            width: 35px;
          }
          p {
            font-size: 2rem;
          }
        }
        p {
          font-weight: bold;
        }
      } 
      &.is-active {
        transform: rotateY(180deg);
        background-color: $orange;
      }
      &.is-visible {
        transform: rotateY(180deg);
        background-color: $light-blue;
      }
      &.is-inactive {
        opacity: 0;
      }   
    }
  }
}
