// -----------------------------------------------------------------------------
// This file contains all application-wide Sass variables.
// -----------------------------------------------------------------------------

/// Regular font family
/// @type List
$main-font: 'Atkinson Hyperlegible', sans-serif !default;

/// Colors
/// @type Color
$orange: #FDA214 !default;
$silver: #F2F2F2 !default;
$light-silver: #FCFCFC !default;
$dark-blue: #152938 !default;
$mid-blue: #6395B8 !default;
$light-blue: #BCCED9 !default;
$dark-navy: #304859 !default;
$light-navy: #7191A5 !default;
$white: #FFFFFF !default;
$baby-blue: #DFE7EC !default;

/// Relative or absolute URL where all assets are served from
/// @type String
/// @example scss - When using a CDN
///   $base-url: '/assets/' !default;

